.wrapper{
    position: absolute;
    width: 1000px;
    height: 1000px;
    z-index: 15;
    top: 65%;
    left: 45%;
    margin: -100px 0 0 -150px;
}

.addButton{
    position: fixed;
    bottom: 0%;
    right: 0%;
}

.jumbotron{
    background-color: aqua;
}



