.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

a.navbar-brand{
  font-style: oblique;
  font-size: xx-large;
}

.background {
  background-image: url("https://c.pxhere.com/images/42/78/53da5e6f38cb92d44f41c0a05db4-1447789.jpg!d");
  }
